<div class="a-content">
  <div class="left-content">
    <ul class="info-content">
      <li class="menu-content"><%= link_to "メッセージを送る", new_group_path %></li>
      <li class="menu-content"><a>フォローする</a></li>
      <li class="menu-content"><a>フォロワー</a></li>
      <li class="menu-content"><%= link_to "ユーザー検索", search_categories_path %></li>
    </ul>
    <%= link_to "トップページへ戻る", root_path(current_user[:id]), class: "link-root" %>
  </div>
  <div class="right-content">
    <div class="head-content">
      <div class="p-image-content">
        <% if @user.image.present? %>
          <%= image_tag @user.image, class: "user-image" %>
        <% else %>
          <div class="image-content">No Image</div>
        <% end %>
      </div>
      <div class="content-b">
        ユーザー名：<%= @user.name %>
      </div>
      <div class="content-b">
        チーム名：  <%= @user.team_name %>
      </div>
      <div class="content-b">
        所在地：<%= @user.category.category_name %>
      </div>
    </div>
    <div class="introduct-content">
      <div class="c-content">チーム紹介</div>
      <div class="c-introduct-content">
        <%= @user.body %>
      </div>
    </div>
    <div class="result-content">
      <div class="c-content">試合結果</div>
      <div class="c-introduct-content">
        <%= @user.result %>
      </div>
    </div>
  </div>
</div>
