  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <div id="categories"><span>ユーザー検索</span></div>
        <!-- カテゴリー検索 -->
        <div class="categories-content">
          <div class="parent-content-a">
            <div class="region-content-a">
              <ul>
                <h2 class="font-size">北海道</h2>
                <li><a href="/categories/1", class="region">北海道</a></li>
              </ul>
            </div>
            <div class="region-content-a">
              <h2 class="font-size">東北地方</h2>
              <ul>
                <li class="region-2"><a href="/categories/2", class="region">青森県</a></li>
                <li class="region-2"><a href="/categories/3", class="region">岩手県</a></li>
                <li class="region-2"><a href="/categories/4", class="region">宮城県</a></li>
                <li class="region-2"><a href="/categories/5", class="region">秋田県</a></li>
                <li class="region-2"><a href="/categories/6", class="region">山形県</a></li>
                <li class="region-2"><a href="/categories/7", class="region">福島県</a></li>
              </ul>
            </div>
            <div class="region-content-a">
              <h2 class="font-size">関東地方</h2>
              <ul>
                <li class="region-2"><a href="/categories/8", class="region">茨城県</a></li>
                <li class="region-2"><a href="/categories/9", class="region">栃木県</a></li>
                <li class="region-2"><a href="/categories/10", class="region">群馬県</a></li>
                <li class="region-2"><a href="/categories/11", class="region">埼玉県</a></li>
                <li class="region-2"><a href="/categories/12", class="region">千葉県</a></li>
                <li class="region-2"><a href="/categories/13", class="region">東京都</a></li>
                <li class="region-2"><a href="/categories/14", class="region">神奈川県</a></li>
              </ul>
            </div>
            <div class="region-content-a">
              <h2 class="font-size">北陸・甲信越地方</h2>
              <ul>
                <li class="region-2"><a href="/categories/15", class="region">新潟県</a></li>
                <li class="region-2"><a href="/categories/16", class="region">富山県</a></li>
                <li class="region-2"><a href="/categories/17", class="region">石川県</a></li>
                <li class="region-2"><a href="/categories/18", class="region">福井県</a></li>
                <li class="region-2"><a href="/categories/19", class="region">山梨県</a></li>
                <li class="region-2"><a href="/categories/20", class="region">長野県</a></li>
              </ul>
            </div>
            <div class="region-content-a">
              <h2 class="font-size">東海地方</h2>
              <ul>
                <li class="region-2"><a href="/categories/21", class="region">岐阜県</a></li>
                <li class="region-2"><a href="/categories/22", class="region">静岡県</a></li>
                <li class="region-2"><a href="/categories/23", class="region">愛知県</a></li>
                <li class="region-2"><a href="/categories/24", class="region">三重県</a></li>
              </ul>
            </div>
          </div>
          <div class="parent-content-b">
            <div class="region-content-a">
              <h2 class="font-size">近畿地方</h2>
              <ul>
                <li class="region-2"><a href="/categories/25", class="region">滋賀県</a></li>
                <li class="region-2"><a href="/categories/26", class="region">京都府</a></li>
                <li class="region-2"><a href="/categories/27", class="region">大阪府</a></li>
                <li class="region-2"><a href="/categories/28", class="region">兵庫県</a></li>
                <li class="region-2"><a href="/categories/29", class="region">奈良県</a></li>
                <li class="region-2"><a href="/categories/30", class="region">和歌山県</a></li>
              </ul>
            </div>
            <div class="region-content-a">
              <h2 class="font-size">中国地方</h2>
              <ul>
                <li class="region-2"><a href="/categories/31", class="region">鳥取県</a></li>
                <li class="region-2"><a href="/categories/32", class="region">島根県</a></li>
                <li class="region-2"><a href="/categories/33", class="region">岡山県</a></li>
                <li class="region-2"><a href="/categories/34", class="region">広島県</a></li>
                <li class="region-2"><a href="/categories/35", class="region">山口県</a></li>
              </ul>
            </div>
            <div class="region-content-a">
              <h2 class="font-size">四国地方</h2>
              <ul>
                <li class="region-2"><a href="/categories/36", class="region">徳島県</a></li>
                <li class="region-2"><a href="/categories/37", class="region">香川県</a></li>
                <li class="region-2"><a href="/categories/38", class="region">愛媛県</a></li>
                <li class="region-2"><a href="/categories/39", class="region">高知県</a></li>
              </ul>
            </div>
            <div class="region-content-a">
              <h2 class="font-size">九州地方</h2>
              <ul>
                <li class="region-2"><a href="/categories/40", class="region">福岡県</a></li>
                <li class="region-2"><a href="/categories/41", class="region">佐賀県</a></li>
                <li class="region-2"><a href="/categories/42", class="region">長崎県</a></li>
                <li class="region-2"><a href="/categories/43", class="region">熊本県</a></li>
                <li class="region-2"><a href="/categories/44", class="region">大分県</a></li>
                <li class="region-2"><a href="/categories/45", class="region">宮崎県</a></li>
                <li class="region-2"><a href="/categories/46", class="region">鹿児島県</a></li>
                <li class="region-2"><a href="/categories/47", class="region">沖縄県</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- インクリメンタルサーチ -->
        <div id="yjMain">
          <article class="section-a">
            <div class="container">
              <header class="header header--section">
                <h2 class="text-middle">
                  <i class="icon-movie color-gray-light"></i>ワードで検索
                </h2>
              </header>
              <%= form_tag('/categories/search', method: :get) do %>
                <input class="search__query" name="keyword" placeholder="ユーザー名で検索" type="text" value="">
                <button class="btn-search" name="検索" type="submit">検索</button>
                </input>
              <% end %>
              <form accept-charset="utf-8" action="/" class="js-search-submit" method="get">
              </form>
            </div>
          </article>
          <article class="section">
            <div class="container">
              <header class="header header--section">
                <h2 class="text-middle" id="text-result">ユーザーリスト</h2>
              </header>
              <ul class="listview js-lazy-load-images">
                <% @users.each do |user| %>
                <li class="user-li">
                  <!-- 飛ぶリンク先を個別になるようにprefixで記述する -->
                  <%= link_to  user_path(user.id), class: "listview__element--right-icon" do %>
                    <div class="profile-image">
                        <% if user.image.present? %>
                          <%= image_tag user.image, class: "image-a"  %>
                        <% else %>
                          <div class="no-profile-image">No Image</div>
                        <% end %>
                      </div>
                    <div class="col6 push6">
                      <h3 class="text-middle text-break">
                        <span class="color-sub" style="width:26em;">ユーザー名：<%= user.name %></span>
                      </h3>
                      <p class="text-xsmall" style="width:26em;">
                        チーム紹介：<%= user.body %>
                      </p>
                    </div>
                  <% end %>
                </li>
                <% end %>
              </ul>
            </div>
          </article>
        </div>
        <div id="yjSub">
        <a href="/">トップページへ戻る</a>
